Animate BITMAP DISCARDABLE "./resources/Animate.bmp"
FolderBrowserDialog BITMAP DISCARDABLE "./resources/FolderBrowserDialog.bmp"
CHECKBOX BITMAP DISCARDABLE "./resources/CheckBox.bmp"
CHECKEDLISTBOX BITMAP DISCARDABLE "./resources/CheckedListBox.bmp"
COMBOBOXEDIT BITMAP DISCARDABLE "./resources/ComboBoxEdit.bmp"
COMBOBOXEX BITMAP DISCARDABLE "./resources/ComboBoxEx.bmp"
COMMANDBUTTON BITMAP DISCARDABLE "./resources/CommandButton.bmp"
DATETIMEPICKER BITMAP DISCARDABLE "./resources/DateTimePicker.bmp"
FontDialog BITMAP DISCARDABLE "./resources/FontDialog.bmp"
FORM BITMAP DISCARDABLE "./resources/Form.bmp"
GRID BITMAP DISCARDABLE "./resources/Grid.bmp"
GROUPBOX BITMAP DISCARDABLE "./resources/GroupBox.bmp"
Header BITMAP DISCARDABLE "./resources/Header.bmp"
HotKey BITMAP DISCARDABLE "./resources/HotKey.bmp"
LABEL BITMAP DISCARDABLE "./resources/Label.bmp"
LINKLABEL BITMAP DISCARDABLE "./resources/LinkLabel.bmp"
ListControl BITMAP DISCARDABLE "./resources/ListControl.bmp"
ListView BITMAP DISCARDABLE "./resources/ListView.bmp"
MaskedEdit BITMAP DISCARDABLE "./resources/MaskedEdit.bmp"
MainMenu BITMAP DISCARDABLE "./resources/MainMenu.bmp"
MonthCalendar BITMAP DISCARDABLE "./resources/MonthCalendar.bmp"
NativeFontControl BITMAP DISCARDABLE "./resources/FontDialog.bmp"
RadioButton BITMAP DISCARDABLE "./resources/RadioButton.bmp"
OpenFileDialog BITMAP DISCARDABLE "./resources/OpenFileDialog.bmp"
PageScroller BITMAP DISCARDABLE "./resources/PageScroller.bmp"
Panel BITMAP DISCARDABLE "./resources/Panel.bmp"
TabPage BITMAP DISCARDABLE "./resources/TabPage.bmp"
PopUpMenu BITMAP DISCARDABLE "./resources/ContextMenu.bmp"
ProgressBar BITMAP DISCARDABLE "./resources/ProgressBar.bmp"
RichTextBox BITMAP DISCARDABLE "./resources/RichTextBox.bmp"
ScrollBarControl BITMAP DISCARDABLE "./resources/HScrollBar.bmp"
HScrollBar BITMAP DISCARDABLE "./resources/HScrollBar.bmp"
VScrollBar BITMAP DISCARDABLE "./resources/VScrollBar.bmp"
SaveFileDialog BITMAP DISCARDABLE "./resources/SaveFileDialog.bmp"
Splitter BITMAP DISCARDABLE "./resources/Splitter.bmp"
StatusBar BITMAP DISCARDABLE "./resources/StatusBar.bmp"
TabControl BITMAP DISCARDABLE "./resources/TabControl.bmp"
TextBox BITMAP DISCARDABLE "./resources/TextBox.bmp"
ToolBar BITMAP DISCARDABLE "./resources/ToolBar.bmp"
Rebar BITMAP DISCARDABLE "./resources/ReBar.bmp"
ToolTips BITMAP DISCARDABLE "./resources/ToolTips.bmp"
TrackBar BITMAP DISCARDABLE "./resources/TrackBar.bmp"
TreeView BITMAP DISCARDABLE "./resources/TreeView.bmp"
TimerComponent BITMAP DISCARDABLE "./resources/TimerComponent.bmp"
UpDown BITMAP DISCARDABLE "./resources/UpDown.bmp"
ImageList BITMAP DISCARDABLE "./resources/ImageList.bmp"
WebBrowser BITMAP DISCARDABLE "./resources/WebBrowser.bmp"
