/*'#########################################################*/
/*'#  mff.rc                                               #*/
/*'#  This file is part of MyFbFramework                   #*/
/*'#  Authors: Xusinboy Bekchanov (2018-2019)              #*/
/*'#########################################################*/

Animate PNG "../resources/Animate.png"
FolderBrowserDialog PNG "../resources/FolderBrowserDialog.png"
CHECKBOX PNG "../resources/CheckBox.png"
CHECKEDLISTBOX PNG "../resources/CheckedListBox.png"
COLORDIALOG PNG "../resources/ColorDialog.png"
COMBOBOXEDIT PNG "../resources/ComboBoxEdit.png"
COMBOBOXEX PNG "../resources/ComboBoxEx.png"
COMMANDBUTTON PNG "../resources/CommandButton.png"
DATETIMEPICKER PNG "../resources/DateTimePicker.png"
FontDialog PNG "../resources/FontDialog.png"
FORM PNG "../resources/Form.png"
GRID PNG "../resources/Grid.png"
GROUPBOX PNG "../resources/GroupBox.png"
Header PNG "../resources/Header.png"
HotKey PNG "../resources/HotKey.png"
ImageBox PNG "../resources/ImageBox.png"
ImageList PNG "../resources/ImageList.png"
LABEL PNG "../resources/Label.png"
LINKLABEL PNG "../resources/LinkLabel.png"
ListControl PNG "../resources/ListControl.png"
ListView PNG "../resources/ListView.png"
MaskedEdit PNG "../resources/MaskedEdit.png"
MainMenu PNG "../resources/MainMenu.png"
MonthCalendar PNG "../resources/MonthCalendar.png"
NativeFontControl PNG "../resources/FontDialog.png"
RadioButton PNG "../resources/RadioButton.png"
OpenFileDialog PNG "../resources/OpenFileDialog.png"
PageScroller PNG "../resources/PageScroller.png"
Panel PNG "../resources/Panel.png"
TabPage PNG "../resources/TabPage.png"
PopUpMenu PNG "../resources/ContextMenu.png"
ProgressBar PNG "../resources/ProgressBar.png"
RichTextBox PNG "../resources/RichTextBox.png"
ScrollBarControl PNG "../resources/HScrollBar.png"
HScrollBar PNG "../resources/HScrollBar.png"
VScrollBar PNG "../resources/VScrollBar.png"
SaveFileDialog PNG "../resources/SaveFileDialog.png"
Splitter PNG "../resources/Splitter.png"
StatusBar PNG "../resources/StatusBar.png"
TabControl PNG "../resources/TabControl.png"
TextBox PNG "../resources/TextBox.png"
ToolBar PNG "../resources/ToolBar.png"
Rebar PNG "../resources/ReBar.png"
ToolTips PNG "../resources/ToolTips.png"
TrackBar PNG "../resources/TrackBar.png"
TreeListView PNG "../resources/TreeView.png"
TreeView PNG "../resources/TreeView.png"
TimerComponent PNG "../resources/TimerComponent.png"
UpDown PNG "../resources/UpDown.png"
WebBrowser PNG "../resources/WebBrowser.png"

#define VER_FILEDESCRIPTION_STR     "MyFbFramework\0"

#define VER_FILEVERSION             1,1,0,163
#define VER_FILEVERSION_STR         "1.1.0.163\0"

#define VER_LEGALCOPYRIGHT_STR      "\0"

#define VER_INTERNALNAME_STR        "mff\0"
#define VER_ORIGINALFILENAME_STR    "mff.dll\0"
#define VER_PRODUCTNAME_STR         "MyFbFramework\0"

#define VER_PRODUCTVERSION          1,1,0,0
#define VER_PRODUCTVERSION_STR      "1.1\0"
#define VER_COMPANYNAME_STR         "FreeBasic Community\0"

VS_VERSION_INFO VERSIONINFO
FILEVERSION     VER_FILEVERSION
PRODUCTVERSION  VER_PRODUCTVERSION
FILEOS          VOS__WINDOWS32
FILETYPE        VFT_APP
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName",      VER_COMPANYNAME_STR
            VALUE "FileDescription",  VER_FILEDESCRIPTION_STR
            VALUE "FileVersion",      VER_FILEVERSION_STR
            VALUE "InternalName",     VER_INTERNALNAME_STR
            VALUE "LegalCopyright",   VER_LEGALCOPYRIGHT_STR
            VALUE "OriginalFilename", VER_ORIGINALFILENAME_STR
            VALUE "ProductName",      VER_PRODUCTNAME_STR
            VALUE "ProductVersion",   VER_PRODUCTVERSION_STR
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        /* The following line should only be modified for localized versions.     */
        /* It consists of any number of WORD,WORD pairs, with each pair           */
        /* describing a language,codepage combination supported by the file.      */
        /*                                                                        */
        /* For example, a file might have values "0x409,1252" indicating that it  */
        /* supports English language (0x409) in the Windows ANSI codepage (1252). */
        VALUE "Translation", 0x409, 1252
    END
END
