Animate BITMAP DISCARDABLE "../resources/Animate.bmp"
FolderBrowserDialog BITMAP DISCARDABLE "../resources/FolderBrowserDialog.bmp"
CHECKBOX BITMAP DISCARDABLE "../resources/CheckBox.bmp"
CHECKEDLISTBOX BITMAP DISCARDABLE "../resources/CheckedListBox.bmp"
COLORDIALOG BITMAP DISCARDABLE "../resources/ColorDialog.bmp"
COMBOBOXEDIT BITMAP DISCARDABLE "../resources/ComboBoxEdit.bmp"
COMBOBOXEX BITMAP DISCARDABLE "../resources/ComboBoxEx.bmp"
COMMANDBUTTON BITMAP DISCARDABLE "../resources/CommandButton.bmp"
DATETIMEPICKER BITMAP DISCARDABLE "../resources/DateTimePicker.bmp"
FontDialog BITMAP DISCARDABLE "../resources/FontDialog.bmp"
FORM BITMAP DISCARDABLE "../resources/Form.bmp"
GRID BITMAP DISCARDABLE "../resources/Grid.bmp"
GROUPBOX BITMAP DISCARDABLE "../resources/GroupBox.bmp"
Header BITMAP DISCARDABLE "../resources/Header.bmp"
HotKey BITMAP DISCARDABLE "../resources/HotKey.bmp"
ImageBox BITMAP DISCARDABLE "../resources/ImageBox.bmp"
ImageList BITMAP DISCARDABLE "../resources/ImageList.bmp"
LABEL BITMAP DISCARDABLE "../resources/Label.bmp"
LINKLABEL BITMAP DISCARDABLE "../resources/LinkLabel.bmp"
ListControl BITMAP DISCARDABLE "../resources/ListControl.bmp"
ListView BITMAP DISCARDABLE "../resources/ListView.bmp"
MaskedEdit BITMAP DISCARDABLE "../resources/MaskedEdit.bmp"
MainMenu BITMAP DISCARDABLE "../resources/MainMenu.bmp"
MonthCalendar BITMAP DISCARDABLE "../resources/MonthCalendar.bmp"
NativeFontControl BITMAP DISCARDABLE "../resources/FontDialog.bmp"
RadioButton BITMAP DISCARDABLE "../resources/RadioButton.bmp"
OpenFileDialog BITMAP DISCARDABLE "../resources/OpenFileDialog.bmp"
PageScroller BITMAP DISCARDABLE "../resources/PageScroller.bmp"
Panel BITMAP DISCARDABLE "../resources/Panel.bmp"
TabPage BITMAP DISCARDABLE "../resources/TabPage.bmp"
PopUpMenu BITMAP DISCARDABLE "../resources/ContextMenu.bmp"
ProgressBar BITMAP DISCARDABLE "../resources/ProgressBar.bmp"
RichTextBox BITMAP DISCARDABLE "../resources/RichTextBox.bmp"
ScrollBarControl BITMAP DISCARDABLE "../resources/HScrollBar.bmp"
HScrollBar BITMAP DISCARDABLE "../resources/HScrollBar.bmp"
VScrollBar BITMAP DISCARDABLE "../resources/VScrollBar.bmp"
SaveFileDialog BITMAP DISCARDABLE "../resources/SaveFileDialog.bmp"
Splitter BITMAP DISCARDABLE "../resources/Splitter.bmp"
StatusBar BITMAP DISCARDABLE "../resources/StatusBar.bmp"
TabControl BITMAP DISCARDABLE "../resources/TabControl.bmp"
TextBox BITMAP DISCARDABLE "../resources/TextBox.bmp"
ToolBar BITMAP DISCARDABLE "../resources/ToolBar.bmp"
Rebar BITMAP DISCARDABLE "../resources/ReBar.bmp"
ToolTips BITMAP DISCARDABLE "../resources/ToolTips.bmp"
TrackBar BITMAP DISCARDABLE "../resources/TrackBar.bmp"
TreeView BITMAP DISCARDABLE "../resources/TreeView.bmp"
TimerComponent BITMAP DISCARDABLE "../resources/TimerComponent.bmp"
UpDown BITMAP DISCARDABLE "../resources/UpDown.bmp"
WebBrowser BITMAP DISCARDABLE "../resources/WebBrowser.bmp"

#define VER_FILEDESCRIPTION_STR     "MyFbFramework\0"

#define VER_FILEVERSION             1,0,1,131
#define VER_FILEVERSION_STR         "1.0.1.131\0"

#define VER_LEGALCOPYRIGHT_STR      "\0"

#define VER_INTERNALNAME_STR        "mff\0"
#define VER_ORIGINALFILENAME_STR    "mff.dll\0"
#define VER_PRODUCTNAME_STR         "MyFbFramework\0"

#define VER_PRODUCTVERSION          1,0,0,0
#define VER_PRODUCTVERSION_STR      "1.0\0"
#define VER_COMPANYNAME_STR         "FreeBasic Community\0"

VS_VERSION_INFO VERSIONINFO
FILEVERSION     VER_FILEVERSION
PRODUCTVERSION  VER_PRODUCTVERSION
FILEOS          VOS__WINDOWS32
FILETYPE        VFT_APP
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName",      VER_COMPANYNAME_STR
            VALUE "FileDescription",  VER_FILEDESCRIPTION_STR
            VALUE "FileVersion",      VER_FILEVERSION_STR
            VALUE "InternalName",     VER_INTERNALNAME_STR
            VALUE "LegalCopyright",   VER_LEGALCOPYRIGHT_STR
            VALUE "OriginalFilename", VER_ORIGINALFILENAME_STR
            VALUE "ProductName",      VER_PRODUCTNAME_STR
            VALUE "ProductVersion",   VER_PRODUCTVERSION_STR
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        /* The following line should only be modified for localized versions.     */
        /* It consists of any number of WORD,WORD pairs, with each pair           */
        /* describing a language,codepage combination supported by the file.      */
        /*                                                                        */
        /* For example, a file might have values "0x409,1252" indicating that it  */
        /* supports English language (0x409) in the Windows ANSI codepage (1252). */
        VALUE "Translation", 0x409, 1252
    END
END